<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mijung.sample.mapper.SuhyunMapper">
	<select id="read" resultType="int" parameterType="int">
		select count(*) from jobs  where max_salary > #{merong}
	</select>
	
	<!-- 매개변수가 여러개 일 때 보통 vo를 이용 -->
	<select id="read2" resultType="int" parameterType="minMaxVO">
	<![CDATA[  
		select count(*) from jobs  where min_salary > #{min} and max_salary < ${max}
	]]>
	</select>
	
</mapper>